.footer {
  width: 100%;
  background: #440001;
  color: #ffffff;
  padding: 50px 0 0;
  font-family: Poppins, sans-serif;
  position: relative;
  overflow: hidden;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: #9C0001;
  border-radius: 50%;
  z-index: 0;
}

.footer::before {
  bottom: -180px;
  left: -180px;
}

.footer::after {
  top: -180px;
  right: -180px;
}

.footer>* {
  position: relative;
  z-index: 1;
}

.footer-top {
  text-align: center;
}

.footer-logo {
  width: 220px;
  margin-bottom: 15px;
}

.footer-desc {
  max-width: 900px;
  margin: 0 auto 35px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
}

.footer-contact {
  max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-bg {
  width: 45px;
  height: 45px;
  background: #9C0001;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-bg img {
  width: 22px;
}

.contact-item h4 {
  font-size: 16px;
  text-align: left;
}

.contact-item p {
  font-size: 14px;
}

.footer-line-middle{
  margin-top: 50px;
  margin-bottom: 40px;
}

.footer-middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 30px;
}

.footer-column h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-column li {
  margin-left: 15px;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-map img {
  height: 180px;
  width: 250px;
  border-radius: 12px;
}

.footer-bottom {
  margin: 40px 30px 0;
}

.footer-line-bottom {
  border: none;
  height: 1px;
  background-color: #ffffff;
  width: 100%;
}

.footer-bottom-content {
  padding: 10px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links span {
  font-weight: 400;
  margin-right: 25px;
  font-size: 12px;
  cursor: pointer;
}

.copyright{
  font-weight: 400;
  font-size: 12px;
}

.social-icons-footer {
  display: flex;
  gap: 12px;
}

.social-icons-footer img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .footer::before,
  .footer::after {
    width: 220px;
    height: 220px;
  }

  .footer::before {
    bottom: -120px;
    left: -120px;
  }

  .footer::after {
    top: -120px;
    right: -120px;
  }

  .footer-contact {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-middle {
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 0 20px;
  }

  .footer-column li {
    margin-left: 15px;
  }

  .footer-map img {
    width: 100%;
    height: auto;
  }

  .footer-bottom-content {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer-links span {
    margin-right: 15px;
  }

  .social-icons-footer {
    justify-content: center;
  }
}

@media (min-width: 651px) and (max-width: 850px) {
  .footer-contact {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-item {
    width: 48%;
  }

  .footer-middle {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 30px;
  }

  .footer-map {
    display: flex;
    justify-content: center;
  }

  .footer-bottom-content {
    gap: 20px;
  }
}