.aboutus-section {
  padding: 80px 100px;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-position: right center;
}

.aboutus-content {
  padding: 0 80px;
}

.aboutus-tag {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #440001;
  margin-bottom: 10px;
}

.aboutus-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 12px;
}

.aboutus-line {
  width: 50px;
  height: 3px;
  background: #9c0001;
  margin: 0 auto 20px;
}

.aboutus-text {
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  color: #272727;
  line-height: 1.6;
  margin-bottom: 35px;
}

.aboutus-btn {
  font-weight: 600;
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background: #9c0001;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
}

.aboutus-btn span {
  font-size: 18px;
  margin-left: 10px;
}

@media (max-width: 650px) {
  .aboutus-section {
    padding: 40px 15px;
    background-position: right top;
    background-size: 180px;
  }

  .aboutus-content {
    padding: 0 10px;
  }

  .aboutus-tag {
    font-size: 12px;
  }

  .aboutus-title {
    font-size: 20px;
    line-height: 1.3;
  }

  .aboutus-line {
    width: 40px;
    height: 2px;
    margin-bottom: 15px;
  }

  .aboutus-text {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  .aboutus-btn {
    font-size: 13px;
    padding: 7px 14px;
  }

  .aboutus-btn span {
    font-size: 16px;
  }
}
