.community-section {
  padding: 40px 100px;
  font-family: "Poppins", sans-serif;
}

.community-header {
  text-align: center;
  margin-bottom: 60px;
}

.community-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #440001;
  margin-bottom: 20px;
}

.community-line {
  width: 35px;
  height: 2px;
  background: #9c0001;
}

.community-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}

.community-subtitle {
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto;
  font-size: 13px;
  color: #272727;
  line-height: 1.5;
}

.community-block {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 60px;
}

.community-block.reverse {
  flex-direction: row-reverse;
}

.community-img img {
  width: 500px;
  border-radius: 18px;
  object-fit: cover;
}

.community-text {
  max-width: 540px;
}

.community-text h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.community-text p {
  font-size: 13px;
  color: #272727;
  line-height: 1.6;
  margin-bottom: 50px;
}

.community-text p span {
  display: block;
  margin-top: 10px;
}

.community-btn {
  display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 7px 16px;
    background: #9c0001;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
}

.community-btn span {
  font-size: 16px;
}

@media (max-width: 650px) {
  .community-section {
    padding: 20px 15px;
  }

  .community-block,
  .community-block.reverse {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .community-img img {
    width: 100%;
    border-radius: 14px;
  }

  .community-text {
    max-width: 100%;
  }

  .community-text h3 {
    font-size: 18px;
  }

  .community-text p {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .community-section {
    padding: 40px;
  }

  .community-img img {
    width: 350px;
  }

  .community-title {
    font-size: 26px;
  }
}

