.about-section {
  width: 100%;
  padding: 60px;
  background: #ffffff;
  font-family: Poppins, sans-serif;
}

.about-container {
  padding: 0 30px;
  display: flex;
  align-items: center;
  gap: 80px;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 550px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}

.about-content {
  flex: 1;
  max-width: 496px;
}

.about-tag {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #440001;
  margin-bottom: 15px;
}

.about-title {
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000000;
}

.about-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 30px;
}

.about-divider {
  width: 100%;
  height: 1px;
  background-color: #CBD5E1;
  margin: 20px 0;
}

.about-button {
  background: #9c0001;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.about-button-arrow {
  font-size: 16px;
}

@media (max-width: 650px) {

  .about-section {
    padding: 40px 20px;
  }

  .about-container {
    flex-direction: column;
    padding: 0;
    gap: 30px;
  }

  .about-image img {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  .about-content {
    max-width: 100%;
    text-align: center;
  }

  .about-tag {
    font-size: 14px;
  }

  .about-title {
    font-size: 26px;
    line-height: 1.3;
  }

  .about-description {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .about-divider {
    margin: 20px auto;
  }

  .about-button {
    margin: 0 auto;
  }
}

@media (min-width: 651px) and (max-width: 850px) {

  .about-section {
    padding: 50px 30px;
  }

  .about-container {
    gap: 40px;
  }

  .about-image img {
    width: 100%;
    height: 320px;
  }

  .about-content {
    max-width: 420px;
  }

  .about-title {
    font-size: 30px;
  }

  .about-description {
    font-size: 14px;
  }
}