* {
  box-sizing: border-box;
}

.follow-section {
  margin: 40px 0;
  background: #9c0001;
  padding: 40px 60px;
  font-family: "Poppins", sans-serif;
}

.follow-text {
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.follow-images {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.follow-images img {
  width: 100%;
  height: 160px;
  border-radius: 18px;
}

 @media (max-width: 650px) {
   html,
   body {
     overflow-x: hidden;
   }

   .follow-section {
     padding: 12px;
     text-align: center;
     overflow: hidden;
   }

   .follow-text {
     font-size: 15px;
     line-height: 1.3;
     word-wrap: break-word;
   }

   .follow-images {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 12px;
     width: 100%;
   }

   .follow-images img {
     width: 80%;
     height: auto;
     border-radius: 12px;
     object-fit: cover;
   }
 }

@media (min-width: 651px) and (max-width: 1024px) {
  .follow-section {
    padding: 35px 30px;
  }

  .follow-text {
    font-size: 22px;
  }

  .follow-images {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .follow-images img {
    width: 200px;
    height: auto;
  }
}
