.services-section {
  width: 100%;
  padding: 80px 0;
  background: #ffffff;
  font-family: Poppins, sans-serif;
}

.services-container {
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
}

.services-tag {
  font-size: 14px;
  font-weight: 600;
  color: #440001;
}

.services-title {
  font-size: 36px;
  font-weight: 700;
  margin: 20px 0 10px;
}

.services-desc {
  font-weight: 400;
  max-width: 1070px;
  margin: 0 auto 30px;
  font-size: 14px;
  line-height: 1.3;
  color: #272727;
}

.services-filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.filter-btn {
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #ffffff;
  cursor: pointer;
  font-size: 13px;
}

.filter-btn.active {
  background: #440001;
  color: #ffffff;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 40px;
}

.image-card {
  position: relative;
  border-radius: 16px;
}

.image-card img {
  width: 100%;
  height: 100%;
}

.card-title {
  position: absolute;
  bottom: 5px;
  left: 30%;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

.highlight-card {
  background: #9c0001;
  color: #ffffff;
  padding: 20px 40px 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight-card h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.highlight-card p {
  padding: 0 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.highlight-card .arrow {
  padding-top: 20px;
  font-size: 18px;
}

.services-cta {
  background: #9c0001;
  color: #ffffff;
  border: none;
  padding: 10px 14px 10px  22px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.cta-circle {
  width: 34px;
  height: 34px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-arrow {
  color: #000000;
  font-size: 18px;
  line-height: 1;
}

@media (max-width: 650px) {
  .services-section {
    padding: 50px 0;
  }

  .services-container {
    padding: 0 20px;
  }

  .services-title {
    font-size: 28px;
  }

  .services-desc {
    font-size: 13px;
    line-height: 1.5;
  }

  .filter-btn {
    padding: 8px 18px;
    font-size: 12px;
  }

  .services-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .service-card {
    height: 240px;
  }

  .image-card img {
    object-fit: cover;
  }

  .card-title {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 16px;
  }

  .highlight-card {
    padding: 20px;
  }

  .highlight-card h3 {
    margin-top: 15px;
    font-size: 20px;
  }

  .highlight-card p {
    margin: 0;
    font-size: 13px;
  }

  .highlight-card .arrow {
    margin-bottom: 15px;
  }

  .services-cta {
    font-size: 14px;
  }
}

@media (min-width: 651px) and (max-width: 850px) {

  .services-container {
    padding: 0 30px;
  }

  .services-title {
    font-size: 32px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .service-card {
    height: 260px;
  }

  .image-card img {
    object-fit: cover;
  }

  .card-title {
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
  }

  .highlight-card h3 {
    font-size: 22px;
  }

  .highlight-card p {
    font-size: 13px;
  }
}